{# Extendemos la plantilla zonacorredores #}
{% extends 'AppCorredoresRiojaBundle:views:zonacorredores.html.twig' %}

{% block content %}

    <div class="contenido">        
        <div class="centro"/>
        <ul>
            <li class="columna">
                <ul>
                    {% for corredor in corredores %}
                        <p>{{ corredor.nombre }}</p>
                        <br>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}