{# Extendemos la plantilla zonacorredores #}
{% extends 'AppCorredoresRiojaBundle:views:zonacorredores.html.twig' %}

{% block content %}

    <div class="contenido">
        <div class="clear"> </div>

        <h1>Acceso de corredores registrados</h1>

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('usuario_login_check') }}" method="post"  class="izda">
            <label for="username">Username (DNI):</label>
            <input type="text" id="username" name="_username" value="" /> <br/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" /><br/>

            <button type="submit">Login</button>
        </form>

        <div class="nuevo izda">
            <div>
                <p style="font-weight:bold; margin-top:5px">Nuevo Corredor.</p>
                <p style="margin-top:5px;line-height:1.4em;">Para poder inscribirte en las carreras es necesario registrarse. </p>
            </div>

            <div  class="registrob">
                <a href="{{ path('registro', {'_locale': app.request.locale})}}">REGISTRESE</a>
            </div>
        </div>
        <div class="clear"> </div>

    </div>
    <div class="clear"></div>
    <div class="separa"></div>

{% endblock %}